.btn {
    color: #FFF;
    font-size: 1.125rem;
    text-decoration: none;

    &--home-links {
        background-color: rgba($mainRed, 0.85);
        border-radius: 2px;
        display: flex;
        width: 200px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        letter-spacing: 1px;

        @mixin atSmall {
            width: 250px;
            height: 50px;
            margin-top: 30px;
            font-size: 1.3rem;
        }

        @mixin atMedium {
            width: 300px;
            height: 60px;
            font-size: 1.625rem;
        }

        &:hover {
            background-color: rgba($hoverRed, 0.85);
        }
    }

    &--quick-links {
        background-color: #FFF;
        border-radius: 2px;
        color: $mainRed;
        border: 1px solid $mainRed;
        display: block;
        margin-top: 30px;
        text-align: center;
        padding: 20px 0;
        font-size: 1.25rem;

        &:hover {
            background-color: rgba($mainRed, 0.9);
            color: #FFF;
        }
    }

    &--form-submit {
        text-decoration: none;
        border: none;
        background-color: $mainRed;
        padding: 10px 0px;
        color: #FFF;
        letter-spacing: 1.2px;
        width: 100%;
        border-radius: 4px;

        &:hover {
            background-color: $hoverRed;
        }

    }
}