.row {
    @mixin clearfix;
    
    @mixin atLarge {
        &__medium--6 {
            float: left;
            width: 50%;
        }
    }

    &--gutters {
        margin-right: -65px;
    }

    &--gutters > div {
        padding-right: 65px;
    }
}